<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Customer Details</h1>
    <div style="padding: 20px; border: solid medium black; font-size: 20pt" >
        @RenderBody()
    </div>
    <h2><a href ="http://www.twitter.com">Follow us on Twitter!</a></h2>
</body>
</html>
